#blog {
    border: solid;
    border-width: thin;
    border-color: dimgrey;
    min-width: 500px;
    width: 70%;
}

small {
    color: grey;
}

#stats {
    border: solid;
    border-width: thin;
    border-color: dimgrey;
    min-width: 415px;
    width: 22.5%;
}

#archive td {
    border: solid;
    border-width: thin;
    border-color: dimgrey;
}