{% extends 'template.html' %}
{% block content %}
<div id="register">
    <form method="post" action="/createuser/">
        {% csrf_token %}
        <table>
            <tr>
                <td>First name:</td>
                <td><input id="first_name">{{ fname }}</td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input id="last_name">{{ lname }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input id="email">{{ email }}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input id="username">{{ uname }}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" id="password"></td>
            </tr>
            <tr>
                <td>Re-type password:</td>
                <td><input type="password" id="password_check"></td>
            </tr>
        </table>
        <input type="submit" value="Register">
    </form>
    <a href="/login/">Or login here!</a>
</div>
{% endblock %}