<header id="bottom" class="bottom">
    <div id="stats">
        {% load cache %}
        {% cache 300 session_stats %}
        <table>
            <tr>
                <td><b>Session start date:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Blogs visited:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Blogs edited:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Blogs created:</b></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Blogs deleted:</b></td>
                <td></td>
            </tr>
        </table>
        {% endcache %}
    </div>
</header>