<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ SITE_NAME }}</title>
</head>
<body>
    <h1>Blog 42</h1>
    <form method="get" action="/add">
        <input type="submit" value="New blog post">
    </form>
    <div id="blogs">
        {% for blog in blogs %}
            <p>
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                ID: {{ blog.id }}<br>
                Time: {{ blog.time }}<br>
                <textarea readonly cols="54" rows="6">{{ blog.text }}</textarea>
            </p>
        {% endfor %}
    </div>
</body>
</html>