{% extends 'template.html' %}
{% block content %}
<div id="home">
    <form method="get" action="/add">
        <input type="submit" value="New blog post">
    </form>
    <div id="blogs">
        {% for blog in blogs %}
            <br>
            <div id="blog">
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <small>
                    ID: {{ blog.id }}<br>
                    Time: {{ blog.time }}<br>
                </small>
                <div id="blog_text">
                    {{ blog.text }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}