{% extends 'template.html' %}
{% block content %}
<div id="home">
    <form method="get" action="/add">
        <input type="submit" value="New blog post">
    </form>
    <div id="info">
        {% if messages %}
            {% for msg in messages %}
                <li>{{ msg }}</li>
            {% endfor %}
        {% endif %}
    </div>
    <div id="blogs">
        {% for blog in blogs %}
            <p id="blog">
                <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <small>
                    ID: {{ blog.id }}<br>
                    Time: {{ blog.time }}<br>
                </small>
                <textarea readonly cols="54" rows="6">{{ blog.text }}</textarea>
            </p>
        {% endfor %}
    </div>
</div>
{% endblock %}